@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  /* Tailwind handles the background color in Popup.jsx */
  margin: 0;
  padding: 0;
  width: 350px; /* Fixed width for Chrome Extension Popup */
  min-height: 500px;
}
